.appHeader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: var(--brand-color);
}

.logo {
  flex: 0 0 60px
}

.menu {
  position: relative;
  flex: 0 0 20px;
  cursor: pointer;
}

.counter {
  position: absolute;
  bottom: -8px;
  left: -8px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: var(--negative-color);
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.6rem;
  color: #fff;
}

.cartPreview {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  font-weight: 600;
  font-size: 1.1rem;
  color: #000;
}

.productList {
  padding: 0 8px;
  margin: 0;
  background-color: var(--brand-darkest-color);
  list-style: none;
}

.subtotal {
  padding: 8px;
  background-color: var(--brand-darker-color);
  text-align: right;
}

.subtotal p {
  margin: 0;
}

.subtotal .heading {
  padding-bottom: 4px;
  margin-bottom: 4px;
  border-bottom: 1px solid #000;
}

@media screen and (min-width: 768px) {

  .logo {
    flex-basis: 100px
  }

  .menu {
    flex-basis: 30px
  }

  .counter {
    bottom: -15px;
    left: -15px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    font-size: 1.8rem;
    line-height: 3rem;
    color: #fff;
  }

  .cartPreview {
    font-size: 1.8rem;
  }

}