.product {
  display: flex;
  padding: 8px 0;
  border-bottom: 2px solid #daaf00;
}

.product:last-child {
  border: none;
}

.image {
  flex: 1 1 18%;
}

.image img {
  border: 1px solid #000;
}

.informations {
  flex: 1 1 82%;
}

.informations p {
  margin: 0;
  padding: 0 8px;
}

.informations .name {
  height: 2.2em;
  color: #fff;
}

.remove {
  flex: 0 0 10px;
  text-align: right;
  cursor: pointer;
}

@media screen and (min-width: 768px) {

  .image {
    flex: 1 1 12%;
  }
  .informations {
    flex: 1 1 88%;
  }

}