@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');

:root {
  --brand-color: #ffcd00;
  --brand-darker-color: #daaf00;
  --brand-darkest-color: #c49d00;
  --positive-color: #22b14c;
  --negative-color: #d62a33;
  --text-color: #3b3b3b;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

* {
  box-sizing: inherit
}

body {
  margin: 0;
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  background-color: #f3f3f3;
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}


#root {
  padding-top: 70px;
}

.container {
  max-width: 1280px;
  padding: 0 4px;
  margin: auto;
}

.button {
  display: inline-block;
  padding: 4px 8px;
  background-color: #ccc;
  border: none;
  border-radius: 2px;
  font-size: 1.1rem;
  color: #fff;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button.positive {
  background-color: var(--positive-color);
}

.txtPositiveColor {
  color: var(--positive-color);
}

.iconRightArrow {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotateZ(45deg);
}

@media screen and (min-width: 576px) {

  .button {
    padding: 8px;
    font-size: 1.2rem;
  }

}

@media screen and (min-width: 768px) {

  #root {
    padding-top: 110px;
  }

  .button {
    padding: 12px;
    font-size: 1.6rem;
  }

}