.product {
  display: flex;
  padding: 24px 12px;
  margin-bottom: 12px;
  background-color: #fff;
  box-shadow: 0 0 8px -4px #555;
  border-radius: 4px;
  overflow: hidden;
  color: #3b3b3b;
}

.imgGallery {
  display: flex;
  flex: 0 1 45%;
  align-items: flex-start;
}

.list {
  flex: 1 1 20%;
}

.list img {
  margin-bottom: 1px;
  border: 1px solid transparent;
}

.list img.selected {
  border: 1px solid var(--brand-color);
}

.selected {
  flex: 1 1 80%;
  align-self: center;
  text-align: center;
}

.selected img {
  max-width: 80%;
}

.informations {
  flex: 0 1 55%;
  display: flex;
  flex-direction: column;
}

.name {
  margin: 0;
  font-size: 1.2rem;
}

.paymentAction {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  margin: 12px 0 0;
  border-top: 1px solid #e6e6e6;
}

.payment, .action {
  flex-basis: 100%
}

.action {
  margin-top: 8px;
}

.installment {
  font-weight: 700;
  font-size: 1.4rem;
  margin: 0;
}

.price {
  font-size: 1.1rem;
  margin: 0;
}

@media screen and (min-width: 576px) {

  .name {
    font-size: 1.7rem;
  }

  .installment {
    font-size: 1.7rem;
  }

  .price {
    font-size: 1.3rem;
  }

  .paymentAction {
    flex-direction: row;
    align-items: center;
  }

}

@media screen and (min-width: 768px) {

  .product {
    flex: 0 1 calc(50% - 4px);
    flex-flow: column;
  }

  .imgGallery {
    flex: 0;
  }
  .informations {
    flex: 1;
  }

  .list {
    flex: 1 1 15%;
  }

  .selected {
    flex: 1 1 85%;
  }

  .name {
    flex: 1;
    font-size: 2.2rem;
  }

  .payment, .action {
    flex-basis: 50%
  }

  .installment {
    font-weight: 700;
    font-size: 2rem;
    margin: 0;
  }
  
  .price {
    font-size: 1.6rem;
    margin: 0;
  }

}

@media screen and (min-width: 1024px) {

  .product {
    flex-basis: 33%;
  }

  .name {
    margin-top: 1em;
    font-size: 1.7rem;
  }

  .installment {
    font-size: 1.7rem;
  }

  .price {
    font-size: 1.3rem;
  }

}

@media screen and (min-width: 1280px) {

  .product {
    flex-basis: 24%;
  }

}